.iconscontainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon {
    background-color: none;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: auto;
}

.i {
    width: 100%;
    height: 100%;
}