<p-dialog header="{{ title }}" class="mydialog" [(visible)]="display" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="flex">
        <div>
            <p>Lors de la création, un joueur sera représenter par : ##.</p>
            <br />
            <p>exemple : ## et ## fermez vos yeux ==> Jules et Juliettes fermez vos yeux</p>
            <br />
        </div>
        <div>
            <form [formGroup]="cardForm">
                <div>
                    <label *ngIf="cardForm.value.name">Nom</label>
                    <br />
                    <input class="inputMax" type="text" formControlName="name" placeholder="Nom" spellcheck="true" />
                    <br />
                    <!-- <label *ngIf="cardForm.value.type">Type</label>
                    <br /> 
                    <input class="inputMax" type="text" formControlName="type" placeholder="Type" />
                    <br /> -->
                    <label *ngIf="cardForm.value.text1">Text principal *</label>
                    <br />
                    <textarea class="inputMax" type="text" formControlName="text1" placeholder="Text principal *" rows="4" spellcheck="true"></textarea>
                    <br />
                    <label *ngIf="cardForm.value.text2">Text secondaire</label>
                    <br />
                    <textarea class="inputMax" type="text" formControlName="text2" placeholder="Text secondaire" rows="4" spellcheck="true"></textarea>
                </div>
            </form>
        </div>
        <div class="flex-container">
            <br />
            <div>
                <button class="button" (click)="validate()">Valider</button>
            </div>
            <div class="margeMaxGauche">
                <button class="button" *ngIf="updateCard" (click)="deleteCard()">Supprimer</button>
            </div>
        </div>
    </div>

    <p-toast></p-toast>
</p-dialog>