<div>
    <!-- <div class="flex-container">
        <h3 class="upper">Les points beaufs</h3>
        <i class="fas fa-sign-out-alt" routerLink="/app/auth"></i>
    </div> -->
    <div class="flex-auth">
        <app-button-back routerLink="/app/menu"></app-button-back>
        <p class="space-top">LeaderBoard des points beaufs</p>
        <p class="space-top">Fonctionnalité en cours de développement</p>
        <!-- <button *ngIf="visitor === 'false'" class="button space-top margeMaxGauche" routerLink="/app/generateNewGame">
      Créer
    </button>
        <button *ngIf="visitor === 'true'" disabled class="button space-top margeMaxGauche" title="disponible lorsque vous êtes connecté">
      Créer
    </button> -->
        <!-- </div>
    <div form [formGroup]="searchForm" class="flex-container">
        <i class="fa fa-search"></i>
        <input type="text" class="searchBar" formControlName="searchValue" placeholder="Rechercher.." (input)="searchBar()" />
    </div>
</div>
<div>
    <div *ngIf="gamesDisplayed" class="cards1">
        <a *ngFor="let game of gamesDisplayed" (click)="onSelect(game)">
            <article class="card1 grey" routerLink="/app/game/{{ game.id }}">
                <header>
                    <div class="content">
                        <h4 class="title-btnUpdate overflow" *ngIf="game.name && game.name !== ' '">
                            {{ game.name }}
                        </h4>
                    </div>
                </header>
            </article>
        </a>
    </div> -->
    </div>
    <!-- <div *ngIf="!games">
        <p>Vous n'avez aucun jeux dans votre bibliotèque, aller en créer un ici</p>
        <button class="button space-top margeMaxGauche" routerLink="/app/generateNewGame">Créer</button>
    </div> -->
</div>