.flex-item {
    padding: 20px;
}

.cards1 {
    display: flex;
    float: center;
    grid-gap: 10px;
    flex-direction: column;
    grid-template-columns: auto;
    margin: 10px;
}

.card1 {
    color: wite;
    background-color: #323140;
    display: grid;
    float: center;
    grid-template-rows: auto;
    border-radius: 15px;
}

.flex-auth {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.flex-collumn {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
}

.flex-collumn>p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.espace {
    margin-left: 50%;
}

.btn-play {
    margin-left: 80%;
    margin-bottom: 2%;
}

.flex-line {
    display: flex;
    flex-direction: row;
}

.space-top {
    margin-top: 2%;
}

.title-btnUpdate {
    padding-top: 4%;
}

.content {
    padding-top: 4%;
    padding-left: 2%;
}

.miniSpace {
    margin-left: 20%;
    margin-top: -20%;
}

.searchBar {
    width: 90%;
    background-color: #323140;
    border: none;
    color: white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.image {
    margin-top: 1em;
    border-radius: 50px;
    height: 7%;
    width: 7%;
}

.marge {
    padding: 18%;
}