.butt {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 10em;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
}

.space {
    margin-top: 1em;
}