<div>
    <div class="flex-container">
        <h3 class="upper">Les franchouillards</h3>
        <app-button-back class="margeMaxGauche" routerLink="/app/list"></app-button-back>
    </div>
    <p class="text">Félicitation !</p>
    <div class="butt">
        <button class="button" routerLink="/app/game/{{ actualGameId }}">Rejouer</button>
        <button class="button space" routerLink="/app/list">Retour au auth</button>
    </div>
</div>