.card-body {
    display: block;
    text-align: center;
    color: black;
    padding: 15px 20px;
    box-sizing: border-box;
    overflow-wrap: anywhere;
}

.card-date,
.card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.cartes {
    background-color: none;
    position: relative;
    display: grid;
    justify-items: center;
}

.cartes li {
    background: linear-gradient(to bottom, #fff, #ddd);
    min-height: 250px;
    max-width: 350px;
    position: relative;
    border-radius: 15px;
    padding: 1em;
    width: 90%;
}

.cartes li em {
    font-size: 3rem;
}

em,
b {
    align-self: center;
    font-style: normal;
}

b,
li span {
    font-size: 2rem;
}

b {
    margin-inline-start: 0.5rem;
}

.rouge {
    color: red;
}

.noir {
    color: #060606;
}

.cartes li span {
    margin: auto;
    margin-inline-end: 0.5rem;
    place-self: end;
}

.cartes li em:last-child {
    transform: rotate(180deg);
}

@media (min-width: 37.5rem) {
    .cartes {
        grid: auto/repeat(2, 1fr);
    }
}

@media (min-width: 62.75rem) {
    .fond-jeu {
        border: 1px solid #8d672a;
        margin: auto;
        border-radius: 5px;
        width: 100%;
        height: 500px;
    }
    .cartes li {
        height: 300px;
        width: 200px;
    }
}

.padd {
    float: right;
    padding-right: 16px;
}

.padd1 {
    padding-left: 16px;
    float: left;
}