<div>
    <app-button-back routerLink="/app/list"></app-button-back>
</div>
<div class="card" (click)="nextCard()" *ngIf="cards">
    <div class="fond-jeu">
        <ul class="cartes">
            <li *ngIf="val === 1" class="carreau rouge">
                <div class="padd1">
                    <em>{{ valLetter }}</em
          ><br /><b>♦</b>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="card-body">
          <div class="card-date" *ngIf="actualCard.type && actualCard.type != ' '">
            <p>{{ actualCard.type }}</p>
          </div>
          <div class="card-title" *ngIf="actualCard.name && actualCard.name != ' '">
            <h3>{{ actualCard.name }}</h3>
          </div>
          <div class="card-excerpt">
            <h3 *ngIf="actualCard.text1 && actualCard.text1 != ' '">{{ actualCard.text1 }}</h3>
            <h3 *ngIf="actualCard.text2 && actualCard.text2 != ' '">{{ actualCard.text2 }}</h3>
          </div>
        </div>
        <div class="padd">
          <b>♦</b><br /><em>{{ valLetter }}</em>
                </div>
            </li>
            <li *ngIf="val === 2" class="trefle noir">
                <div class="padd1">
                    <em>{{ valLetter }}</em
          ><br /><b>♣</b>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="card-body">
          <div class="card-date" *ngIf="actualCard.type && actualCard.type != ' '">
            <p>{{ actualCard.type }}</p>
          </div>
          <div class="card-title" *ngIf="actualCard.name && actualCard.name != ' '">
            <h3>{{ actualCard.name }}</h3>
          </div>
          <div class="card-excerpt">
            <h3 *ngIf="actualCard.text1 && actualCard.text1 != ' '">{{ actualCard.text1 }}</h3>
            <h3 *ngIf="actualCard.text2 && actualCard.text2 != ' '">{{ actualCard.text2 }}</h3>
          </div>
        </div>
        <div class="padd">
          <b>♣</b><br /><em>{{ valLetter }}</em>
                </div>
            </li>
            <li *ngIf="val === 3" class="coeur rouge">
                <div class="padd1">
                    <em>{{ valLetter }}</em
          ><br /><b>♥</b>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="card-body">
          <div class="card-date" *ngIf="actualCard.type && actualCard.type != ' '">
            <p>{{ actualCard.type }}</p>
          </div>
          <div class="card-title" *ngIf="actualCard.name && actualCard.name != ' '">
            <h3>{{ actualCard.name }}</h3>
          </div>
          <div class="card-excerpt">
            <h3 *ngIf="actualCard.text1 && actualCard.text1 != ' '">{{ actualCard.text1 }}</h3>
            <h3 *ngIf="actualCard.text2 && actualCard.text2 != ' '">{{ actualCard.text2 }}</h3>
          </div>
        </div>
        <div class="padd">
          <b>♥</b><br /><em>{{ valLetter }}</em>
                </div>
            </li>
            <li *ngIf="val === 4" class="pic noir">
                <div class="padd1">
                    <em>{{ valLetter }}</em
          ><br /><b>♠</b>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="card-body">
          <div class="card-date" *ngIf="actualCard.type && actualCard.type != ' '">
            <p>{{ actualCard.type }}</p>
          </div>
          <div class="card-title" *ngIf="actualCard.name && actualCard.name != ' '">
            <h3>{{ actualCard.name }}</h3>
          </div>
          <div class="card-excerpt">
            <h3 *ngIf="actualCard.text1 && actualCard.text1 != ' '">{{ actualCard.text1 }}</h3>
            <h3 *ngIf="actualCard.text2 && actualCard.text2 != ' '">{{ actualCard.text2 }}</h3>
          </div>
        </div>
        <div class="padd">
          <b>♠</b><br /><em>{{ valLetter }}</em>
                </div>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!cards">
    <p>aucune carte pour ce jeux ou erreur de récupération</p>
</div>