<p-dialog header="{{ title }}" styleClass="mydialog" [(visible)]="display" [draggable]="false" [resizable]="false" [modal]="true">
    <form [formGroup]="gameForm">
        <div>
            <br />
            <label *ngIf="gameForm.value.name">Nom * :</label>
            <br />
            <input class="inputMax" type="text" formControlName="name" placeholder="Nom *" spellcheck="true" />
            <br />
            <label *ngIf="gameForm.value.description">Description * :</label>
            <br />
            <textarea class="inputMax" type="text" formControlName="description" placeholder="Description *" rows="4" spellcheck="true"></textarea
      ><br />
      <br />
    </div>
  </form>
  <div class="flex-container">
    <br />
    <div>
      <button class="button" (click)="validate()">Valider</button>
    </div>
    <div class="margeMaxGauche">
      <button class="button" *ngIf="updateGame" (click)="deleteGame()">Supprimer</button>
    </div>
  </div>
  <p-toast></p-toast>
</p-dialog>