<div>
    <div class="flex-container">
        <h3 class="textGrey">Editeur de jeux</h3>
        <app-button-back class="margeMaxGauche" routerLink="/app/list"></app-button-back>
    </div>
    <div>
        <div>
            <button class="button" (click)="showDialogAddGame()">Ajouter un jeu</button>
        </div>
        <div class="border">
            <a *ngFor="let game of games" class="flex-item">
                <p-accordion>
                    <p-accordionTab class="overflow" header="{{ game.name }}" (click)="getGameCards(game.id)" [selected]="selectedAuth ? games[selectedAuth].id === game.id : checkSelected(game.id)">
                        {{ game.description }} - {{ game.createdDate }}
                        <button class="button" (click)="showDialogUpdateGame()">Modifier le jeux</button>
                        <button class="button" (click)="showDialogAddCard()">Ajouter une carte</button>
                        <p-table [columns]="cols" [value]="cards">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="maxwidth overflow" *ngFor="let col of columns">
                                        {{ col.header }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td class="maxwidth overflow" *ngFor="let col of columns" (click)="onSelectCard(rowData)">
                                        {{ rowData[col.field] }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                </p-accordion>
            </a>
        </div>
    </div>
</div>
<app-add-edit-card *ngIf="displayAddUpdateCards && updateCard" (onRefresh)="refresh($event)" [updateCard]="updateCard" [createCard]="createCard" [selectedCard]="selectedCard" [selectedGame]="selectedGame"></app-add-edit-card>
<app-add-edit-card *ngIf="displayAddUpdateCards && createCard" (onRefresh)="refresh($event)" [updateCard]="updateCard" [createCard]="createCard" [selectedCard]="selectedCard" [selectedGame]="selectedGame"></app-add-edit-card>
<app-add-edit-game *ngIf="displayAddUpdateGame && updateGame" (onRefresh)="refreshGame($event)" (onRefreshAll)="refreshAll($event)" [selectedGame]="selectedGame" [updateGame]="updateGame" [createGame]="createGame"></app-add-edit-game>
<app-add-edit-game *ngIf="displayAddUpdateGame && createGame" (onRefresh)="refreshGame($event)" (onRefreshAll)="refreshAll($event)" [selectedGame]="selectedGame" [updateGame]="updateGame" [createGame]="createGame"></app-add-edit-game>