.mydialog {
    width: 70%;
}

.box {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    padding: 20px;
}

.table {
    padding: 30px;
}

.list {
    width: 300px;
    height: 150px;
}

.ui-table .table .p-accordion .p-accordionTab {
    font-family: 'Poppins', sans-serif;
}

.maxwidth {
    width: 100%;
}