<app-card *ngIf="viewCards" [participants]="participants" [idSelectedGame]="idSelectedGame"></app-card>
<app-participant *ngIf="viewParticipant" [idSelectedGame]="idSelectedGame" (onValidateParticipant)="onReceiveParticipant($event)"></app-participant>