<div>
    <div class="flex-container">
        <h3 class="upper">Les franchouillards</h3>
        <i class="fas fa-sign-out-alt" routerLink="/app/menu"></i>
    </div>
    <div class="flex-auth">
        <app-button-back routerLink="/app/menu"></app-button-back>
        <p class="space-top">Liste des jeux</p>
        <button *ngIf="visitor === 'false'" class="button space-top margeMaxGauche" routerLink="/app/generateNewGame">
      Créer
    </button>
        <button *ngIf="visitor === 'true'" disabled class="button space-top margeMaxGauche" title="disponible lorsque vous êtes connecté">
      Créer
    </button>
    </div>
    <div form [formGroup]="searchForm" class="flex-container">
        <i class="fa fa-search"></i>
        <input type="text" class="searchBar" formControlName="searchValue" placeholder="Rechercher.." (input)="searchBar()" />
    </div>
</div>
<div>
    <div *ngIf="gamesDisplayed" class="cards1">
        <a *ngFor="let game of gamesDisplayed" (click)="onSelect(game)">
            <article class="card1 grey" routerLink="/app/game/{{ game.id }}">
                <header>
                    <div class="content">
                        <h4 class="title-btnUpdate overflow" *ngIf="game.name && game.name !== ' '">
                            {{ game.name }}
                        </h4>
                        <button *ngIf="visitor === 'false'" class="button" routerLink="/app/generateNewGame">
              Modifier
            </button>
                        <button *ngIf="visitor === 'true'" disabled class="button" title="disponible lorsque vous êtes connecté">
              Modifier
            </button>
                    </div>
                </header>
                <div class="flex-collumn content overflow">
                    <p *ngIf="game.description && game.description != ' '">{{ game.description }}</p>
                    <p *ngIf="game.minParticipant && game.minParticipant !== ' '">
                        {{ game.minParticipant }} - 20 joueurs
                    </p>
                </div>
            </article>
        </a>
    </div>
</div>
<div *ngIf="!games">
    <p>Vous n'avez aucun jeux dans votre bibliotèque, aller en créer un ici</p>
    <button class="button space-top margeMaxGauche" routerLink="/app/generateNewGame">Créer</button>
</div>