*,
::before,
::after {
    box-sizing: border-box;
}

.iconscontainer {
    display: flex;
    align-items: center;
    height: 100%;
    .icon {
        position: relative;
        display: flex;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.07);
        span {
            position: absolute;
            top: 60%;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: 500;
            white-space: nowrap;
            color: #000;
            border-radius: 50px;
            background-color: #fff;
            box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            span {
                top: 100%;
                opacity: 0.9;
            }
        }
    }
    .img {
        width: 100%;
        height: 100%;
    }
}