<div>
    <div class="flex-container">
        <h3 class="upper">Les franchouillards</h3>
    </div>

    <button class="button" (click)="logVisitor()">Mode visiteur</button>
    <button class="button" #loginRef>Se connecter</button>
    <a class="button logOut" href=" https://www.google.com/accounts/Logout " (click)="(logOut)" onclick="myIFrame.location='https://www.google.com/accounts/Logout' ;StartPollingForCompletion();return false; ">
    Se déconnecter</a
  >
  <iframe class="visibility" id=" myIFrame "></iframe>
</div>