.flex {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.space {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 30px;
}

.list {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.columnReverse {
    flex-direction: column-reverse;
}

.center {
    float: center;
}

.marginParticipant {
    margin-top: 10%;
}

.addParticipant {
    background-color: #323140;
    color: white;
    border: none;
    border-radius: 15px;
}

.sp {
    margin-right: 0;
}