<div class="flex-container">
    <h3 class="upper">Les franchouillards</h3>
    <app-button-back class="margeMaxGauche" routerLink="/app/list"></app-button-back>
</div>
<div>
    <div class="border" *ngIf="error"><i class="fa fa-info"></i> : Attention : {{ error }}</div>
    <div class="marginParticipant border">
        <h4 class="textGrey">Participants :</h4>
    </div>
    <div>
        <div>
            <a *ngFor="let participant of participants" class="flex border overflow">
                <div>
                    <label for="name"> {{ participant.nom }} </label>
                </div>
                <div class="margeMaxGauche">
                    <button class="button" (click)="deleteParticipant(participant.nom)">X</button>
                </div>
                <br />
            </a>
        </div>
        <div>
            <form [formGroup]="participantForm">
                <div class="flex-container">
                    <input class="addParticipant" type="text" formControlName="name" placeholder="Nom du participant" />
                    <button class="button margeMaxGauche sp" (click)="addParticipant()">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
    <div class="border">
        <button class="button" (click)="validate()">Valider</button>
    </div>
</div>