<div>
    <div class="">
        <h3 class="upper">Les franchouillards</h3>
        <br />
        <br />
        <div class="flex-auth">
            <app-button-back routerLink="/app/auth"></app-button-back>
            <p class="space-top">Menu</p>
        </div>
        <br />
        <h4 *ngIf="user" class="flex-container">Bienvenue {{ user.username }}</h4>
        <h4 class="flex-container">Que veux-tu faire ?</h4>
        <br />
    </div>
    <div class="flex-container">
        <button class="button" routerLink="/app/list">Franchouillard</button>
        <button class="button" routerLink="/app/pointBeauf/leaderBoard">Point Beauf</button>
    </div>
</div>