@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
ul,
ol,
li,
h1,
h2,
h4 {
    display: inline;
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-padding-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h1,
h2,
h3,
h4 {
    /* 500 */
}

p {
    /* 300 */
}

html {
    background: linear-gradient(#33304a, #1a1826);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h4 {
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    padding-bottom: 2%;
    text-align: center;
    font-size: 300%;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button {
    border: 2px solid #00ccff;
    border-radius: 10px;
    color: #00ccff;
    background: none;
    display: inline-block;
    width: auto;
    height: 2em;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
}

.align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 2%;
}

.flexible {
    display: flex;
    position: absolute;
    bottom: 20px;
}

.flexible>button {
    font-size: 200%;
    display: block;
    margin-right: 100%;
    margin-left: 100%;
}

@media (max-width: 640px) {
    .flexible>button {
        font-size: 150%;
    }
}

.margeMaxGauche {
    margin-left: auto;
}

.border {
    margin-left: 2%;
    margin-right: 2%;
}

.message {
    display: none;
}

.overflow {
    overflow-wrap: anywhere;
}

.inputMax {
    width: 100%;
}


/* lock the screen rotation */

@media screen and (max-width: 100px) and (orientation: landscape) {
    .app-root-content {
        visibility: hidden;
        height: 0;
    }
    .app-root-content * {
        visibility: hidden;
        height: 0;
    }
    html,
    body {
        background: black;
        height: 100%;
        width: 100%;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .phone {
        height: 50px;
        width: 100px;
        border: 3px solid white;
        border-radius: 10px;
        animation: rotate 1.5s ease-in-out infinite alternate;
        animation-delay: 1.5s;
        transition: background-color 0.5s ease;
        /* display: none; */
    }
    .message {
        color: white;
        font-size: 1em;
        margin-top: 40px;
        /* display: none; */
    }
    @keyframes rotate {
        0% {
            background-color: black;
            transform: rotate(0deg);
        }
        50% {
            background-color: #323140;
            transform: rotate(-90deg);
        }
        100% {
            transform: rotate(-90deg);
            background-color: #323140;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .phone {
            height: 50px;
            width: 100px;
            border: 3px solid white;
            border-radius: 10px;
            animation: rotate 1.5s ease-in-out infinite alternate;
            /* display: none; */
        }
        .message {
            color: white;
            font-size: 1em;
            margin-top: 40px;
            /* display: none; */
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(-90deg);
            }
            100% {
                transform: rotate(-90deg);
            }
        }
        @media only screen and (max-device-width: 812px) and (orientation: landscape) {
            .phone,
            .message {
                display: block;
            }
        }
        .message {
            display: inline;
        }
    }
}


/* end lock screen rotation */

.upper {
    text-transform: uppercase;
}